<ion-view title="Alerts Page" id="page10">
  <ion-content padding="true" class="has-header">
    <h1 id="alertsDetails-heading12" style="color:#000000;">Alerts</h1>
    <ion-list id="alertsDetails-list9">
      <ion-item a ui-sref="alertDetails" id="alertsDetails-list-item9">Child needs a foster home</ion-item>
      <ion-item a ui-sref="alertDetails" id="alertsDetails-list-item10">Report of abusive foster parent</ion-item>
      <ion-item a ui-sref="alertDetails" id="alertsDetails-list-item13">Missing child</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
