<ion-view title="Alert Details" id="page11">
  <ion-content padding="true" class="has-header">
    <h1 id="alertDetails-heading13" style="color:#000000;">Alert Details</h1>
    <div id="alertDetails-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Date of incident: February 24, 2017</p>

      <p style="color:#000000;">Location: 3241 S Federal</p>

      <p style="color:#000000;">Details: Child reported foster father yelling at kids</p>
    </div>
  </ion-content>
</ion-view>