<ion-view title="Connect With Foster Families" id="page5">
  <ion-content padding="true" class="has-header">
    <h1 id="connectWithFosterFamilies-heading7" style="color:#000000;">Connect with Foster Families</h1>
    <form id="connectWithFosterFamilies-form5" class="list">
      <ion-toggle toggle-class="toggle-positive" id="connectWithFosterFamilies-toggle1">Show my location to others</ion-toggle>
    </form>
    <a ui-sref="searchForFosterFamilies" id="connectWithFosterFamilies-button21" class="button button-positive  button-block">Search for other foster families</a>
  </ion-content>
</ion-view>