<ion-view title="Families Near You" id="page7">
  <ion-content padding="true" class="has-header">
    <h1 id="familiesNearYou-heading9" style="color:#000000;">Families near you</h1>
    <ion-list id="familiesNearYou-list7">
      <ion-item a ui-sref="familyProfileBio" class="item-avatar" id="familiesNearYou-list-item11">
        <h2>FosterMom7</h2>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <ion-list id="familiesNearYou-list8">
      <ion-item a ui-sref="familyProfileBio" class="item-avatar" id="familiesNearYou-list-item12">
        <h2>SuperDad</h2>
      </ion-item>
    </ion-list>
    <a ui-sref="searchForFosterFamilies" id="familiesNearYou-button23" class="button button-positive  button-block">Refine Search</a>
  </ion-content>
</ion-view>