<ion-view title="familyProfileBio" id="page8">
  <ion-content padding="true" class="has-header">
    <h1 id="page-heading10" style="color:#000000;">FosterMom7</h1>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div id="page-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Foster children: 3</p>

      <p style="color:#000000;">Bio: I enjoy cooking and taking care of my three foster kids! I'd love to share recipes or tips on how to help my kids succeed!</p>
    </div>
    <button id="page-button24" class="button button-positive  button-block">Contact FosterMom7</button>
  </ion-content>
</ion-view>