<ion-view title="Search for Foster Families" id="page6">
  <ion-content padding="true" class="has-header">
    <h1 id="searchForFosterFamilies-heading8" style="color:#000000;">Search for foster families</h1>
    <form id="searchForFosterFamilies-form7" class="list">
      <label class="item item-select" id="searchForFosterFamilies-select1">
        <span class="input-label">Family size</span>
        <select>
          <option>Small Family</option>
          <option>Large Homes</option>
        </select>
      </label>
      <label class="item item-select" id="searchForFosterFamilies-select2">
        <span class="input-label">Search families within</span>
        <select>
          <option>1 mi</option>
          <option>3 mi</option>
          <option>5 mi</option>
          <option>10 mi</option>
        </select>
      </label>
    </form>
    <a ui-sref="familiesNearYou" id="searchForFosterFamilies-button22" class="button button-positive  button-block">Search</a>
  </ion-content>
</ion-view>